/bin/
/.metadata/

# Need to keep all HDL files
# *.vhd
# *.v































# ignore Quartus II generated folders
*/db/
*/incremental_db/
*/simulation/
*/timing/
*/testbench/
*/*_sim/
